
a{ 
    text-decoration: none;
    color: #fff;
    padding: 20px, 5px;
}


body {
    margin: 0;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    display: block;
}
ul{
    list-style: none;
    padding-inline-start: 0;
}
input[type=checkbox] {
    display: none;
}


.texto-imagem {
    width: 100%;
    display: flex;
    align-items: center;
}



.extrato-de-transacoes {
    justify-content: center;
    display: flex;
}

.logo{
    padding-left: 22px;
    padding-right: 22px;
    width: 40px
}

.th,
td {
    padding: 8px;
    text-align: left;
    font-weight: 400;
    border-top: solid 1px #979797;
    
}

.tabela {
    padding: 20px 20px 0px;
    padding-right: 20px;
    text-align: end;
    width: 100%;
    
}

.mercadoria-esquerda {
    display: flex;
}


table {
    border-collapse: collapse;
    width: 100%;
}

.valor {
    text-align: end;
}

.form-quadrado {
    border: 1px solid #97979797;
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    width: 95%;
    display: flex;
    flex-direction: column;
}

.campos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.form-campo {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 0px 20px;
    width: 100%;
}

.button {
    background: #333;
    color: white;
    width: 200px;
        margin: 22px;
    }
.botao-adicionar{
    display: flex;
    justify-content: flex-end;
    
}

.form-quadrado input,
.form-quadrado select {
    border: 1px solid #97979797;
    border-radius: 4px;
    height: 32px;
}

.form-quadrado label {
    margin-bottom: 2px;
}

.form-quadrado h1 {
    text-align: center;
    font-size: 18px;
    
}


.hamburguer {
    height: 35px;
    padding-right: 20px;
}



.menu{ 
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 33%;
    background-color: #333;
}
input[type="checkbox"]:checked ~ div {
    display: block;
}

.botoes-menu {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.botoes-menu li{
    padding-bottom: 10px;
    text-align: end;
}

.botoes-menu li:hover {
    background-color: #E0E0E0;

}




.x{
    padding: 22px;
    top: 30px;
    color: #E0E0E0;
}


.conteudo-pricipal {
    padding-left: 20px;
    padding-right: 20px;

}

.cabecalho {
    width: 100%;
    height: 80px;
    background-color: #E0E0E0;
    display: flex;
    justify-content: center;

}

.text-controle {
        position: sticky;
        font-size: 24px;
        padding-left: 98px;
        left: calc(50% - 411px/2 - 0.5px);
        display: flex;

}


.texto-retangulo {
    height: 20px;
    top: 20px;
    left: 113px;
    font-weight: 700;
    font-size: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

}

.status-tabela {
    text-align: end;
    font-weight: 700;
}

.vt {
    border-bottom: #979797 solid 1px;
    padding: 1px;
}

.controle-financeiro {
    display: flex;
    align-items: center;
    width: 100%;
}
.nenhuma-trasacao{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.rodape{
    position: fixed;
    width: 100%;
    height: 2%;
    margin-top: 358px;
    background: #333333;
}
@media screen and (max-width: 768px) {
    .cabecalho {
        width: 100%;
    }

    .form-quadrado h1 {
        display: none;
        
    }

    .conteudo-pricipal {
        padding-left: 20px;
        padding-right: 20px;

    }

    .texto-imagem {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .logo {

        padding-left: 22px;
        padding-right: 22px;
        width: 40px;
    }


    .form-quadrado {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

    }

    .form-campo{
        margin: 0;
    }
    .campo-grande {
        width:  92%;

    }

    .button{
        width: 93%;
        margin: 0;
        margin-top: 22px;
    }

    .botao-adicionar{
        display: flex;
        justify-content: flex-start;
    }



    .form-quadrado {
        border: 0;
        border-bottom: 1px solid #97979797;
        margin: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        width: calc(100% - 10px);
    }
    .campos{
        display: flex;
        flex-direction: column;
    } 
    
    
    .vt {
        border-bottom: #979797 solid 1px;
        padding: 1px;
    }

    .menu{
        width: 90%;
  }


    .status-tabela {
        font-size: 14px;
        text-align: end;
    }

    .controle-financeiro {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .rodape{
        margin-top: 324px;
    }
}

@media screen and (min-width:1112px) {

    .logo {
        padding-left: 38px;
        width: 40px;
    }

    .text-controle{
        position: initial;
        padding-left: 0;
        padding-right: 120px;
        width: 411px;
        font-size: 20px;
        display: flex;
        align-items: center;

    }
    
    .texto-imagem {
        width: 100%;
        display: flex;
        padding-right: 130px;
    }

    .conteudo-pricipal {
        display: flex;
        justify-content: center;

    }

    .form-quadrado {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;

    }

    .campos{
        display: flex;
        flex-direction: column;
    } 

    .campo-pequeno {
        width: 600px;

    }

    .campo-grande {
        width:  600px;

    }


    .form-quadrado .form-campo {
        margin: 0px;
        margin-top: 20px;
        width: 100%;
    }

    .button {
        width: 100%;
        margin: 0px;
        margin-top: 20px;
    }

    .form-quadrado {
        width: 400px;
        padding: 20px;

    }

    .menu{
        display: block;
    }
    .x{
        display: none;
    }

    .botoes-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
        align-items: center;
        margin: 0;
    }

    .botoes-menu a {
        padding: 8px;
        text-decoration: none;
        color: #333;
        position: relative;
        white-space: nowrap;
        transition: 0.2s;
    }

    .botoes-menu ul{
        display: flex;
    }

    .botoes-menu li{
        padding-bottom: 0;
    }

    .hamburguer {
        display: none;
    }

    .mercadoria-esquerda {
        display: flex;
    }

    .tabela-extrato {
        padding-left: 20px;
        width: 100%;
        max-width: 635px;
    }



    .vt {
        border-bottom: #979797 solid 1px;
        padding: 1px;
    }

    .status-tabela {
        text-align: end;
        font-weight: 700;
    }

    .controle-financeiro {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

    }

    .menu {
       position: static;
       z-index: 1;
       height: 40px;
       width: 100%;
    }
   .rodape{
    display: none;
   }
}