

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    display: block;
}
ul{
    list-style: none;
    padding-inline-start: 0;
}
input[type=checkbox] {
    display: none;
}


.texto-imagem {
    width: 100%;
    display: flex;
    align-items: center;
}


.extrato-de-transacoes {
    justify-content: center;
    display: flex;
}

.logo{
    padding-left: 22px;
    padding-right: 22px;
    width: 40px
}

#form-extrato{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

#tabela{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.container-tabela {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: center;
    justify-content: space-between;
    padding: 0px;
    border-bottom: 1px solid #979797;
}

.container-tabela-2 {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    border-bottom: 1px solid #979797;
  }
.container-tabela-3 {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

.container-tabela tr {
    border-bottom: 1px solid #979797;
    border-collapse: collapse;
}

tbody {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

.titulo-tabela {
    font-weight: bold;
    margin: 0px 25px;
  }
  
  .titulo-tabela:nth-child(2){
    margin-right: 42px;
  }

.valor-total{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid #979797;
    margin-top: 2px;
}
.container-mercadoriadoria {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.form-quadrado {
    border: 1px solid #97979797;
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    width: 95%;
    display: flex;
    flex-direction: column;
}

.campos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.form-campo {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 0px 20px;
    width: 100%;
}

.button {
    background: #333;
    color: white;
    width: 200px;
        margin: 22px;
    }
.botao-adicionar{
    display: flex;
    justify-content: flex-end;
    
}

.form-quadrado input,
.form-quadrado select {
    border: 1px solid #97979797;
    border-radius: 4px;
    height: 32px;
}

.form-quadrado label {
    margin-bottom: 2px;
}

.form-quadrado h1 {
    text-align: center;
    font-size: 18px;
    
}


.hamburguer {
    height: 35px;
    padding-right: 20px;
}



.menu{ 
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 33%;
    background-color: #333;
}
input[type="checkbox"]:checked ~ div {
    display: block;
}

.botoes-menu {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.botoes-menu a{
    text-decoration: none;
    color: #fff;
    padding: 20px, 5px;
    display: block;
    width: 100%;
}

.botoes-menu a:hover{
    color: #333333;
    background: #C4C4C4;
    font-weight: 600;
  }

.botoes-menu li{
    padding-bottom: 10px;
    text-align: end;
}




.x{
    padding: 22px;
    top: 30px;
    color: #E0E0E0;
}


.conteudo-pricipal {
    padding-left: 20px;
    padding-right: 20px;

}

.cabecalho {
    width: 100%;
    height: 80px;
    background-color: #E0E0E0;
    display: flex;
    justify-content: center;

}

.text-controle {
        position: sticky;
        font-size: 24px;
        padding-left: 98px;
        left: calc(50% - 411px/2 - 0.5px);
        display: flex;

}


.texto-retangulo {
    height: 20px;
    top: 20px;
    left: 113px;
    font-weight: 700;
    font-size: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

}

tfoot {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
    font-weight: bold;
}

.corpo-tabela{
    display: flex;
    justify-content: flex-start;
    height: auto;
    padding: 6px 0px;
    
}

.corpo-tabela:nth-child(1) {
    margin: 0px 10px;
    width: 8.25px;
}

.corpo-tabela:nth-child(2){
    justify-content: flex-start;
    width: 80%;
    word-break: break-all;
}

.corpo-tabela:nth-child(3){
     width: 34%;
      margin-right: 10px;
      justify-content: flex-end;
      text-align: right;
      word-break: break-all;
}

.vt {
    border-bottom: #979797 solid 1px;
    padding: 1px;
}

.controle-financeiro {
    display: flex;
    align-items: center;
    width: 100%;
}
.nenhuma-trasacao{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.rodape{
    position: fixed;
    width: 100%;
    height: 2%;
    margin-top: 358px;
    background: #333333;
}
@media screen and (max-width: 768px) {
    .cabecalho {
        width: 100%;
    }

    .form-quadrado h1 {
        display: none;
        
    }

    .conteudo-pricipal {
        padding-left: 20px;
        padding-right: 20px;

    }

    .texto-imagem {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .logo {

        padding-left: 22px;
        padding-right: 22px;
        width: 40px;
    }


    .form-quadrado {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

    }

    .form-campo{
        margin: 0;
    }
    .campo-grande {
        width:  92%;

    }

    .button{
        width: 93%;
        margin: 0;
        margin-top: 22px;
    }

    .botao-adicionar{
        display: flex;
        justify-content: flex-start;
    }



    .form-quadrado {
        border: 0;
        border-bottom: 1px solid #97979797;
        margin: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        width: calc(100% - 10px);
    }
    .campos{
        display: flex;
        flex-direction: column;
    } 

    .menu{
        width: 90%;
  }

    .controle-financeiro {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .rodape{
        margin-top: 324px;
    }
}

@media screen and (min-width:1112px) {

    .logo {
        padding-left: 38px;
        width: 40px;
    }

    .text-controle{
        position: initial;
        padding-left: 0;
        padding-right: 120px;
        width: 411px;
        font-size: 20px;
        display: flex;
        align-items: center;

    }
    
    .texto-imagem {
        width: 100%;
        display: flex;
        padding-right: 130px;
    }

    .conteudo-pricipal {
        display: flex;
        justify-content: center;

    }

    .form-quadrado {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;

    }

    .campos{
        display: flex;
        flex-direction: column;
    } 

    .campo-pequeno {
        width: 600px;

    }

    .campo-grande {
        width:  600px;

    }


    .form-quadrado .form-campo {
        margin: 0px;
        margin-top: 20px;
        width: 100%;
    }

    .button {
        width: 100%;
        margin: 0px;
        margin-top: 20px;
    }

    .form-quadrado {
        width: 400px;
        padding: 20px;

    }

    .menu{
        display: block;
    }
    .x{
        display: none;
    }

    .botoes-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
        align-items: center;
        margin: 0;
    }

    .botoes-menu a {
        display: initial;
        padding: 8px;
        text-decoration: none;
        color: #333;
        position: relative;
        white-space: nowrap;
        transition: 0.2s;
    }

    .botoes-menu ul{
        display: flex;
    }

    .botoes-menu li{
        padding-bottom: 0;
    }

    .hamburguer {
        display: none;
    }


    .tabela-extrato {
        padding-left: 20px;
        width: 100%;
        max-width: 635px;
    }


    .controle-financeiro {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

    }

    .menu {
       position: static;
       z-index: 1;
       height: 40px;
       width: 100%;
    }

    #form-extrato{
        align-content: flex-start;
    }
   .rodape{
    display: none;
   }
}